* {
  margin: 0;
  padding: 0;
}

#menu {
  margin: 0 0 10px;
  padding: 20px 29px 12px;
  background-color: #070707;
}

#menu ul {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
}

#menu li {
  display: flex;
  align-items: baseline;
  flex-grow: 0;
}

#menu a {
  width: 60px;
  height: 12px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.07;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
  color: #8f8f8f;
}

#menu a:hover {
  color: #F1F1F1;
}

#menu .logo {
  align-self: center;
}

#menu .search {
  flex-grow: 1;
  justify-content: center;
}

img.logo_icon {
  width: 180px;
  height: 17px;
  margin: 0px 40px 0px 0;
  object-fit: contain;
}

img.white_search_icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

#menu input {
  width: 50%;
  border: 0;
  border-bottom: 1px solid #F1F1F1;
  outline: 0;
  color: #F1F1F1;
  padding: 7px 0;
  background: transparent;
}

#menu button {
  color: #F1F1F1;
  background: transparent;
  align-self: center;
}

::placeholder {
  color: #F1F1F1;
  padding-left: 15px;
  padding-right: 150px;
  font-family: 'Montserrat';
}

footer div.contact-container {
  margin: 72px 0 0;
  padding: 12px 30px 11px;
  background-color: #070707;
  color: #F1F1F1;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer div.contact-item {
  display: flex;
  gap: 2em;
  align-items: baseline;
  color: #9b9b9b;
}

footer div.contact-item:first-child {
  color: #F1F1F1;
}

.socialIcon {
  display: flex;
  gap: 0.8em;
  align-items: baseline;
}

footer div.introduction {
  padding: 12px 0 11px 30px;
  background-color: #fff;
  color: #070707;
  display: flex;
  align-items: center;
}

footer div.introduction .introduction-links {
  padding: 0;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #070707;
  flex-grow: 1;
}

footer div.introduction .introduction-links a {
  text-decoration: none;
  color: inherit;
}

footer div.introduction .introduction-links a:after {
  content: "|";
  padding-left: 10px;
  color: #F1F1F1;
  padding-right: 10px;
}

img.blacklogo_icon {
  width: 179px;
  height: 11px;
  object-fit: contain;
  align-self: center;
}

.selectLanguage {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border: none;
  background-image: url("./asset/images/br_down.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size:
    10px 10px,
    10px 10px,
    2px 3em;
}

.selectLanguage:focus {
  background-repeat: no-repeat;
  outline: 0;
}

.selectLanguage:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.main {
  float: left;
  width: 100%;
  position: relative;
}

#slide {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

#slide .wrapper {
  width: 110%;
  display: flex;
  overflow: hidden;
  gap: 10px;
  margin-left: -80px;
  align-items: center;
}

#slide .item {
  width: 300px;
  height: 100px;
  background-color: #070707;
  color: #F1F1F1;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#slide .item.selected {
  background-color: #ff2e43;
}

#slide img.icon-arrow {
  width: 44px;
  height: 43px;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  margin-top: -70px;
}

#slide img.icon-arrow.left-arrow {
  left: 10px;
}

#slide img.icon-arrow.right-arrow {
  right: 10px;
}

.font-kor {
  font-family: 'NotoSans';
}

.font-latin {
  font-family: 'Montserrat';
}

.textStyle19 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 171.5px;
  line-height: 177px;
  text-align: center;
}

.textStyle4 {
  font-family: "NotoSansCJKkr";
  font-size: 64px;
  line-height: 48px;
}

.textStyle21 {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  font-size: 59px;
  line-height: 516px;
}

.textStyle25 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 55px;
  line-height: 57px;
  text-align: center;
}

.textStyle12 {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
  line-height: 27px;
  text-align: center;
}

.textStyle5 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 5px;
}

.textStyle3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 4.5px;
}

.textStyle2 {
  font-family: "NotoSansCJKkr";
  font-weight: 500;
  font-size: 35px;
  line-height: 30px;
}

.textStyle17 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 30px;
  line-height: 25px;
}

.textStyle24 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 30px;
  line-height: 50px;
}

.textStyle22 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 25px;
  line-height: 60px;
}

.textStyle {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 20px;
  line-height: 25px;
}

.textStyle20 {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 35px;
}

.textStyle16 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.textStyle6 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 35px;
}

.textStyle14 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
}

.textStyle18 {
  font-family: "NotoSansCJKkr-Demi";
  font-weight: lighter;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.textStyle7 {
  font-family: "NotoSansCJKkr-Demi";
  font-weight: lighter;
  font-size: 17.5px;
  line-height: 28.5px;
  text-align: right;
}

.textStyle8 {
  font-family: "NotoSansCJKkr-Demi";
  font-weight: lighter;
  font-size: 16px;
  line-height: 30px;
}

.textStyle10 {
  font-family: "NotoSansCJKkr";
  font-weight: lighter;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.textStyle9 {
  font-family: "NotoSansCJKkr";
  font-weight: lighter;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.textStyle15 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.textStyle27 {
  font-family: "NotoSansCJKkr";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.textStyle11 {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.textStyle26 {
  font-family: "NotoSansCJKkr-Demi";
  font-weight: lighter;
  font-size: 14px;
  line-height: 30px;
}